.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.media-card::before {
    content: url('../images/icons/play_circle.svg');
    position: absolute;
    cursor: pointer;
}

.media-thumbnail {
    cursor: pointer;
}